extends ../app.pug

block styles
  include ../theme/theme.pug

block globals
  include ../global/contracts.pug
  include ../global/home.pug
  include ../global/urls.pug

block header
  include ../header/header.pug

block content
  content

block footer
  include ../footer/footer.pug
