div#aft-wallet {
  margin-bottom: 0.5em;
}
div#aft-wallet {
  div.wallet-address {
    button#otf-wallet-toggle,
    button#aft-wallet-copy {
      cursor: pointer;
      i {
        position: relative;
        top: 1px;
      }
      width: 42px;
    }
    button#otf-wallet-toggle:hover,
    button#aft-wallet-copy:hover {
      border-bottom: 1px solid var(--xp-powered);
      border-left: 1px solid var(--xp-powered);
      border-top: 1px solid var(--xp-powered);
      background-color: var(--xp-gray-dark);
      color: var(--xp-powered);
    }
    select#aft-wallet-address {
      background-color: #e9ecef;
      cursor: pointer;
      text-align: center;
      width: calc(100% - 276px);
    }
    button#aft-wallet-burner:hover:not(.disabled):not(.burning) {
      border-bottom: 1px solid var(--xp-powered);
      border-top: 1px solid var(--xp-powered);
      background-color: var(--xp-gray-dark);
      color: var(--xp-powered);
    }
    button#aft-wallet-burner.burning {
      .spinner {
        display: block;
      }
      svg {
        display: none;
      }
      cursor: default;
    }
    button#aft-wallet-burner.disabled {
      svg {
        opacity: 0.5;
      }
      cursor: default;
    }
    button#aft-wallet-burner {
      .spinner {
        display: none;
      }
      color: var(--xp-gray-dark);
      width: 42px;
    }
    @media (max-width: 575px) {
      button#aft-wallet-copy {
        display: none;
      }
      select#aft-wallet-address {
        width: calc(100% - 192px);
      }
      button#aft-wallet-burner {
        display: none;
      }
    }
    input#aft-wallet-balance {
      text-align: center;
      width: 105px;
    }
    input, select {
      font-size: smaller;
    }
    button#aft-wallet-sov-toggle {
      img {
        border-radius: 8px;
        overflow: hidden;
        margin: auto;
      }
    }
    button#aft-wallet-sov-toggle:hover {
      border-bottom: 1px solid var(--xp-powered);
      border-right: 1px solid var(--xp-powered);
      border-top: 1px solid var(--xp-powered);
      background-color: var(--xp-gray-dark);
      color: var(--xp-powered);
    }
  }
}
