div#otf-wallet {
  margin-bottom: 0.5em;
}
div#otf-wallet {
  div.otf-wallet-address {
    button#otf-wallet-transfer:hover:not(.processing),
    button#otf-wallet-copy:hover,
    button#otf-wallet-export-key:hover {
      background-color: var(--xp-gray-dark);
      color: var(--xp-powered);
    }
    button#otf-wallet-transfer:hover:not(.processing) {
      border: 1px solid var(--xp-powered);
    }
    button#otf-wallet-copy:hover,
    button#otf-wallet-export-key:hover {
      border-bottom: 1px solid var(--xp-powered);
      border-top: 1px solid var(--xp-powered);
    }
    button#otf-wallet-transfer.processing {
      .spinner {
        display: block;
      }
      i {
        display: none;
      }
      cursor: default;
    }
    button#otf-wallet-transfer,
    button#otf-wallet-copy,
    button#otf-wallet-export-key {
      .spinner {
        display: none;
      }
      i {
        position: relative;
        top: 1px;
      }
      cursor: pointer;
      min-height: 38px;
      width: 42px;
    }
    input#otf-wallet-address {
      cursor: text;
      padding-right: 42px;
      text-align: center;
      width: calc(100% - 318px);
    }
    @media (max-width: 575px) {
      input#otf-wallet-address {
        padding-right: 1em;
        width: calc(100% - 192px);
      }
      button#otf-wallet-copy {
        display: none;
      }
      button#otf-wallet-export-key {
        display: none;
      }
    }
    input#otf-wallet-balance {
      text-align: center;
      width: 105px;
    }
    input {
      font-size: smaller;
    }
    button.info {
      svg { top: 0; }
    }
  }
}
