div#otf-wallet(
  class="{{OTF_WALLET}}"
)
  div.form-label
    | Minter Address and AVAX Balance
  div.input-group.otf-wallet-address.wallet-address
    button.form-control.input-group-text#otf-wallet-transfer.withdraw
      span.spinner.spinner-border.spinner-border-sm.float-start(
        role="status"
      )
      i.bi-circle
    include ../qr-code/qr-code.pug
    input.form-control#otf-wallet-address(
      placeholder="0x0000000000000000000000000000000000000000" readonly
    )
    button.form-control.input-group-text#otf-wallet-copy
      i(class="bi bi-copy")
    button.form-control.input-group-text#otf-wallet-export-key
      i(class="bi bi-key")
    input.form-control#otf-wallet-balance(
      placeholder="0" readonly
    )
    button.form-control.input-group-text.info
      include ../../public/images/pug/avalanche-16.svg.pug
