div#otf-wallet {
  margin-bottom: 0.5em;
}
div#otf-wallet {
  div.otf-wallet-address {
    button#otf-wallet-transfer:hover:not(.processing) {
      border: 1px solid var(--xp-powered);
      border-right: 1px solid var(--xp-gray-dark);
      background-color: var(--xp-gray-dark);
      color: var(--xp-powered);
    }
    button#otf-wallet-transfer.processing {
      .spinner {
        display: block;
      }
      i {
        display: none;
      }
      cursor: default;
    }
    button#otf-wallet-transfer {
      .spinner {
        display: none;
      }
      i {
        position: relative;
        top: 1px;
      }
      cursor: pointer;
      min-height: 38px;
      width: 42px;
    }
    input#otf-wallet-address {
      cursor: text;
      text-align: center;
      width: calc(100% - 192px);
    }
    input#otf-wallet-balance {
      text-align: center;
      width: 105px;
    }
    input {
      font-size: smaller;
    }
    button.info {
      svg { top: 0; }
    }
  }
}
