form#wallet {
  margin-bottom: 0.5em;
}
form#wallet {
  div.wallet-address {
    span#otf-wallet-toggle {
      i {
        position: relative;
        top: 1px;
      }
      cursor: pointer;
    }
    span#otf-wallet-toggle:hover {
      border: 1px solid var(--xp-powered);
      border-right: 1px solid var(--xp-dimgray);
      background-color: var(--xp-dimgray);
      color: var(--xp-powered);
    }
    input#wallet-address {
      cursor: text;
      text-align: center;
      width: calc(100% - 192px);
    }
    input#wallet-balance {
      text-align: center;
      width: 105px;
    }
    input {
      font-size: smaller;
    }
  }
}
form#otf-wallet {
  margin-bottom: 0.5em;
}
form#otf-wallet {
  div.otf-wallet-address {
    span#otf-wallet-transfer:hover:not(.processing) {
      border: 1px solid var(--xp-powered);
      border-right: 1px solid var(--xp-dimgray);
      background-color: var(--xp-dimgray);
      color: var(--xp-powered);
    }
    span#otf-wallet-transfer.processing {
      .spinner {
        display: block !important;
      }
      i {
        display: none !important;
      }
      cursor: default !important;
    }
    span#otf-wallet-transfer {
      i {
        position: relative;
        top: 1px;
      }
      cursor: pointer;
      max-width: 42px;
      min-height: 38px;
    }
    input#otf-wallet-address {
      cursor: text;
      text-align: center;
      width: calc(100% - 192px);
    }
    input#otf-wallet-balance {
      text-align: center;
      width: 105px;
    }
    input {
      font-size: smaller;
    }
  }
}
