public/**/*.LICENSE.txt
public/content/**/*.md
public/images/all/
public/views/**/*.pug
public/views/**/*.pig
node_modules/
.env

**/*.css
**/*.css.map
**/*.js
**/*.js.map
**/*.jsx
**/*.jsx.map

!jest.config.js
!webpack.*.js
.vscode
