script(async src="https://www.googletagmanager.com/gtag/js?id=G-FVER8GS40Z")
script: | window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}gtag('js',new Date());gtag('config','G-FVER8GS40Z');
