@import "./theme/theme.scss";
@import "./animate.scss";

html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  background-color: var(--xp-dimgray);
  color: var(--xp-powered);
  overflow-y: scroll;
}
body.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 768px;
}
input, .btn, .ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.no-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: initial;
}
.btn-outline-warning {
  border-color: var(--xp-powered);
  color: var(--xp-powered);
}
.btn-outline-warning.disabled,
.btn-outline-warning:disabled {
  color: var(--xp-powered-dark);
}
.btn-outline-warning:hover {
  background-color: var(--xp-powered);
  border-color: var(--xp-powered);
}
h1 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
h1:first-of-type {
  margin-bottom: 0.5em;
}
label {
  user-select: none;
}
:not(span).info {
  svg {
    position: relative;
    top: -1px;
  }
}
.info {
  svg {
    margin: auto;
  }
  padding: 0;
  width: 42px !important;
}
