extends ../spa/spa.pug

block content
  content
    h1: | {{DESCRIPTION}}!{' '}
      include ../../public/images/pug/avalanche-24.svg.pug
    include ../connector/connector.pug
    include ../wallet/wallet.pug
    include ../selector/selector.pug
    include ../nfts/list/list.pug
    include ../nfts/minter/minter.pug
