extends ../spa/spa.pug

block content
  content
    h1: | {{DESCRIPTION}} <img src="/images/png/avalanche-icon/avalanche-64x64.png" height="24" width="24" />
    include ../connector/connector.pug
    include ../wallet/wallet.pug
    include ../selector/selector.pug
    include ../nfts/list/list.pug
    include ../nfts/minter/minter.pug
