div#mining {
  margin-top: 1.0em;
  margin-bottom: 0.5em;
}
div#mining {
  .toggle-mining {
    #toggle-mining {
      border-radius: 1px 0 0 1px;
    }
    .info {
      border-radius: 0 1px 1px 0;
      width: 38px !important;
    }
    border: 3px double;
  }
  .toggle-mining {
    #toggle-mining {
      span.spinner {
        margin-top: 0.25em;
      }
      span.spinner {
        height: 1em;
        width: 1em;
      }
      width: calc(100% - 42px);
    }
    width: 100%;
  }
  .tweak-mining {
    .increaser,
    .decreaser {
      #decrease,
      #increase {
        padding: 0;
        width: 42.5px;
      }
      #decrease > svg,
      #increase > svg {
        position: relative;
        top: -1px;
      }
    }
    .progressor {
      .progress {
        .progress-bar {
          background-color: var(--xp-accentuated);
        }
        .progress-bar.with-indicator {
          border-right: 1px dotted var(--xp-gray-dark);
        }
        border: 3px double var(--xp-gray-dark);
        margin: calc(1em - 2px) 1em;
        width: 100%;
      }
      width: calc(100% - 82px);
    }
    margin-top: 1em;
    width: 100%;
  }
}
