form#mining {
  margin-top: 1.0em;
  margin-bottom: 0.5em;
}
form#mining {
  div.toggle-mining {
    button#toggle-mining {
      span.spinner {
        margin-top: 0.25em;
      }
      span.spinner {
        height: 1em;
        width: 1em;
      }
      border-right: none;
      width: calc(100% - 42px);
    }
    width: 100%;
  }
  div.tweak-mining {
    div.increaser,
    div.decreaser {
      button#increase,
      button#decrease  {
        width: 42.5px;
      }
      button#increase > svg,
      button#decrease > svg {
        position: relative;
        top: -1px;
      }
    }
    div.progressor {
      div.progress {
        div.progress-bar {
          background-color: var(--xp-powered);
        }
        div.progress-bar.with-indicator {
          border-right: 1px dotted var(--xp-dimgray);
        }
        border: 3px double var(--xp-dimgray);
        margin: calc(1em - 2px) 1em;
        width: 100%;
      }
      border-top: 1px solid var(--xp-powered);
      border-bottom: 1px solid var(--xp-powered);
      width: calc(100% - 82px);
    }
    margin-top: 1em;
    width: 100%;
  }
}
