form#swap {
    span.spinner {
        height: 2rem;
        left: calc(50% - 1rem);
        position: relative;
        top: calc(50% - 1rem);
        width: 2rem;
    }
    .dex-selectors {
        .dex-selector svg {
            position: relative;
            top: -1px;
        }
        width: 100%;
    }
    iframe {
        border: 1px solid var(--xp-powered);
        border-radius: 4px;
    }
    iframe {
        height: 100%;
        width: 100%;
    }
}
footer.pt-extra {
    padding-top: calc(37.33px + 1.5em);
    z-index: -1;
}
