extends ../spa/spa.pug

block content
  content.d-flex.flex-column.min-vh-xyz
    include ../spa/spa-notify.pug
    h1: | {{DESCRIPTION}}
    include ../connector/connector.pug
    //- include ../cover/cover.pug
    include ../wallet/wallet.pug
    form#swap.flex-grow-1.mb-3
      span.spinner.spinner-grow.spinner-border.spinner-border-sm(
        role="status"
      )
