div.input-group.rpc-address(role="group")
  button.form-control.input-group-text#rpc-address-enable
    i.bi-check-circle
  include ../../qr-code/qr-code.pug
  input.form-control#rpc-address(
    placeholder=`${MY_PROVIDER_URL}`
  )
  button.form-control.input-group-text#rpc-address-copy
    i.bi-copy
  button.form-control.input-group-text#rpc-polling-dec
    i.bi-dash-circle
  input.form-control#rpc-polling(
      placeholder="2000" type="number"
  )
  button.form-control.input-group-text#rpc-polling-inc
    i.bi-plus-circle
