extends ../index

block styles
  include ../theme/theme.pug

block globals
  include ../global/global.pug

block header
  include ../header/header.pug

block content
  h1: | Stake your XPower NFT Bonds on Avalanche <img src="/images/png/avalanche-icon/avalanche-64x64.png" height=24 width=24>

  table.piggy
    td.text-center
      i.bi.bi-piggy-bank-fill

  h2: | Coming soon… <span class="hourglass"><i class="bi bi-hourglass-split"></i></span>

block footer
  include ../footer/footer.pug
