div#nft-single-minting {
  margin-bottom: 0;
}
div#nft-single-minting {
  .nft-minter {
    .btn-group {
      .toggle {
        width: 42.5px;
      }
      .toggle > i {
        position: relative;
        top: 1px;
      }
      .increase,
      .decrease {
        width: 42.5px;
      }
      .increase > svg,
      .decrease > svg {
        position: relative;
        top: -1px;
      }
      .increase {
        border-left: none;
      }
      .decrease {
        border-left: none;
        border-right: none;
      }
    }
    .minter {
      border-left: none;
      border-right: none;
    }
    .minter {
      width: calc(33.33% - 42.5px + 2px);
    }
    .balance {
      width: calc(33.33% - 42.5px - 4px);
    }
    .amount {
      width: calc(33.33% - 42.5px + 2px);
    }
    @media (max-width: 575px) {
      .minter {
        width: calc(33.33% - 42.5px - 1px);
      }
      .balance {
        width: calc(33.33% - 42.5px - 1px);
      }
      .amount {
        width: calc(33.33% - 42.5px);
      }
    }
    .minter, .balance, .amount {
      font-size: smaller;
    }
    @media (max-width: 575px) {
      .minter, .balance, .amount {
        font-size: x-small;
      }
    }
    margin-bottom: 1em;
    width: 100%;
  }
  .nft-minter {
    input[type=number] {
      -moz-appearance: textfield;
      appearance: textfield;
    }
    input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type=number]:read-only {
      cursor: default;
    }
    input[type=number] {
      cursor: auto;
    }
    input[type=number].invalid {
      border: 2px solid var(--xp-powered-i);
      color: var(--xp-powered-i);
    }
  }
}
