div#nft-single-minting {
  margin-bottom: 0;
}
div#nft-single-minting {
  .nft-minter .btn-group {
    .decrease {
      border-left: 1px solid var(--xp-powered);
    }
  }
}
div#nft-single-minting {
  .nft-minter {
    .minter {
      text-align: center;
    }
    .balance {
      text-align: right;
    }
  }
  .nft-minter {
    .btn-group {
      .toggle {
        width: 42.5px;
      }
      .toggle > i {
        position: relative;
        top: 1px;
      }
      .increase,
      .decrease {
        width: 42.5px;
      }
      .increase > svg,
      .decrease > svg {
        position: relative;
        top: -1px;
      }
    }
    .minter {
      width: calc(25% - 42.5px);
    }
    .balance {
      width: calc(25% + 3px);
    }
    .amount {
      width: calc(50% - 83px);
    }
    @media (max-width: 575px) {
      .minter {
        width: calc(32% - 42.5px);
      }
      .balance {
        width: calc(18% + 3px);
      }
      .amount {
        width: calc(50% - 83px);
      }
    }
    .minter, .balance, .amount {
      font-size: smaller;
    }
    @media (max-width: 575px) {
      .amount, .balance {
        font-size: x-small;
      }
      .amount {
        padding-left: 0.375rem;
        padding-right: 0.375rem;
      }
    }
    margin-bottom: 1em;
    width: 100%;
  }
  .nft-minter {
    input[type=number] {
      -moz-appearance: textfield;
      appearance: textfield;
    }
    input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type=number]:read-only {
      cursor: default;
    }
    input[type=number] {
      cursor: auto;
    }
    input[type=number].invalid {
      background-color: var(--xp-powered-i);
      color: var(--xp-gray-dark);
    }
  }
}
