div#nft-batch-minting {
  .nft-batch-minter {
    #toggle-all {
      min-width: 42px;
      width: 42px;
    }
    #toggle-all > i {
      position: relative;
      top: 1px;
    }
    #nft-burn-approval {
      span.spinner {
        margin-top: 0.25em;
      }
      span.spinner {
        height: 1em;
        width: 1em;
      }
      border-left: none;
      border-right: none;
      width: calc(100% - 84px);
    }
    #nft-batch-minter {
      span.spinner {
        margin-top: 0.25em;
      }
      span.spinner {
        height: 1em;
        width: 1em;
      }
      border-left: none;
      border-right: none;
      display: none;
      width: calc(100% - 84px);
    }
    #nft-batch-minter.show {
      display: inline-block;
    }
    margin-bottom: 1em;
    width: 100%;
  }
  width: 100%;
}
