form#connector {
  margin-bottom: 0.5em;
}
form#connector {
  div.connect-wallet {
    a#connect-wallet {
      span.spinner {
        height: 1em;
        width: 1em;
      }
      span.spinner {
        margin-top: 0.25em;
      }
      border-right: none;
      width: calc(100% - 41.5px);
    }
    width: 100%;
  }
}
