form#connector {
  margin-bottom: 0.5em;
}
form#connector {
  div.connect-metamask {
    button#connect-metamask {
      span.spinner {
        margin-top: 0.25em;
      }
      span.spinner {
        height: 1em;
        width: 1em;
      }
      width: calc(100% - 42px);
    }
    width: 100%;
  }
}
