form#connector {
  .info {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }
}
form#connector {
  div.connect-wallet {
    a#connect-wallet {
      .spinner {
        margin-top: 0.25em;
      }
    }
  }
  margin-bottom: 0.5em;
}
form#connector {
  div.connect-wallet {
    a#connect-wallet {
      .spinner {
        height: 1em;
        width: 1em;
      }
      width: calc(100% - 41.5px);
    }
    width: 100%;
  }
}
