style: | --xp-powered: var({{XP_POWERED}}, --xp-lime)
style: | --xp-powered-i: var({{XP_POWEREDi}}, --xp-lime-i)
style: | --xp-powered-dark: var({{XP_POWERED_DARK}}, --xp-lime-dark);
style: | --xp-powered-dark-i: var({{XP_POWERED_DARKi}}, --xp-lime-dark-i);
