:root {
    --xp-yellow: hsl(60, 100%, 50%);
    --xp-yellow-dark: hsl(45, 100%, 51%);
    --xp-lime: hsl(120, 100%, 50%);
    --xp-lime-dark: hsl(120, 100%, 25%);
    --xp-cyan: hsl(180, 100%, 50%);
    --xp-cyan-dark: hsl(180, 100%, 25%);
    --xp-dimgray: hsl(210, 11%, 15%);
}
