:root {
    --xp-yellow: hsl(60, 100%, 50%);
    --xp-yellow-i: hsl(240, 100%, 50%);
    --xp-yellow-dark: hsl(45, 100%, 51%);
    --xp-yellow-dark-i: hsl(225, 100%, 49%);
    --xp-lime: hsl(120, 100%, 50%);
    --xp-lime-i: hsl(300, 100%, 50%);
    --xp-lime-dark: hsl(120, 100%, 25%);
    --xp-lime-dark-i: hsl(300, 100%, 75%);
    --xp-cyan: hsl(180, 100%, 50%);
    --xp-cyan-i: hsl(0, 100%, 50%);
    --xp-cyan-dark: hsl(180, 100%, 25%);
    --xp-cyan-dark-i: hsl(0, 100%, 75%);
    --xp-gray: hsl(30, 11%, 85%);
    --xp-gray-dark: hsl(210, 11%, 15%);
}
