style: | --xp-powered: var({{XP_POWERED}}, --xp-yellow)
style: | --xp-powered-i: var({{XP_POWEREDi}}, --xp-yellow-i)
style: | --xp-powered-dark: var({{XP_POWERED_DARK}}, --xp-yellow-dark);
style: | --xp-powered-dark-i: var({{XP_POWERED_DARKi}}, --xp-yellow-dark-i);
