:root {
    --xp-yellow: hsla(60, 100%, 50%, 1);
    --xp-yellow-i: hsla(240, 100%, 50%, 1);
    --xp-yellow-dark: hsla(45, 100%, 51%, 1);
    --xp-yellow-dark-i: hsla(225, 100%, 49%, 1);
    --xp-lime: hsla(120, 100%, 50%, 1);
    --xp-lime-i: hsla(300, 100%, 50%, 1);
    --xp-lime-dark: hsla(120, 100%, 25%, 1);
    --xp-lime-dark-i: hsla(300, 100%, 75%, 1);
    --xp-cyan: hsla(180, 100%, 50%, 1);
    --xp-cyan-i: hsla(0, 100%, 50%, 1);
    --xp-cyan-dark: hsla(180, 100%, 25%, 1);
    --xp-cyan-dark-i: hsla(0, 100%, 75%, 1);
    --xp-blue: hsla(240, 100%, 50%, 1);
    --xp-blue-i: hsla(60, 100%, 50%, 1);
    --xp-blue-dark: hsla(225, 100%, 49%, 1);
    --xp-blue-dark-i: hsla(45, 100%, 51%, 1);
    --xp-magenta: hsla(300, 100%, 67%, 1);
    --xp-magenta-i: hsla(120, 100%, 33%, 1);
    --xp-magenta-dark: hsla(300, 100%, 75%, 1);
    --xp-magenta-dark-i: hsla(120, 100%, 25%, 1);
    --xp-red: hsla(0, 100%, 50%, 1);
    --xp-red-i: hsla(180, 100%, 50%, 1);
    --xp-red-dark: hsla(0, 100%, 75%, 1);
    --xp-red-dark-i: hsla(180, 100%, 25%, 1);
    --xp-gray: hsla(30, 11%, 85%, 1);
    --xp-gray-i: hsla(210, 11%, 15%, 1);
    --xp-gray-dark: hsla(210, 11%, 15%, 1);
    --xp-gray-dark-i: hsla(30, 11%, 85%, 1);
    --xp-white:rgba(255,255,255,1);
    --xp-white-i:rgba(0,0,0,1);
    --xp-white-dark:rgba(127,127,127,1);
    --xp-white-dark-i:rgba(128,128,128,1);
}
