<div class=two-card>
    <div class="d-flex flex-column lhs">
        <h1>Mine & Mint Proof-of-Work XPower Tokens</h1>
        <p>Mining XPower <strong>XPOW</strong> tokens is simple and rewarding: By using computational power to solve
            complex puzzles, you can earn tokens.</p>
        <p>The effort put into solving these puzzles ensures that everyone has a fair chance to acquire them — for
            widespread distribution.</p>
        <div class="align-items-center d-none d-sm-flex flex-grow-1 justify-content-center logo">
            <img alt="XPOW logo" height=128 src=images/svg/xpow.svg width=128>
        </div>
    </div>
    <div class=rhs>
        <img alt="Mine XPOW" src="{{DESKTOP_MINE}}" height=1444 width=1018>
    </div>
</div>
<hr>
<div class=two-card>
    <div class="d-flex flex-column lhs">
        <h1>Mint stakeable XPower NFTs</h1>
        <p>Creating XPower NFTs is unique: By depositing your <strong>XPOW</strong>, you can mint NFTs that represent
            something that's similar to bonds.</p>
        <p>These NFTs are not only of artistic value but also functional, allowing you to stake them and earn rewards
            over time.</p>
        <p class="align-items-center d-none d-sm-flex flex-grow-1 justify-content-center emoji">🖼️
    </div>
    <div class=rhs>
        <img alt="Mint NFTs" src="{{DESKTOP_NFTS}}" height=1444 width=1018>
    </div>
</div>
<hr>
<div class=two-card>
    <div class="d-flex flex-column lhs">
        <h1>Claim APower Token Rewards</h1>
        <p>When you stake your XPower NFTs, you start earning APower <strong>APOW</strong> tokens: The longer you hold
            and stake your NFTs, the more <strong>APOW</strong> you accumulate.</p>
        <p>This process ensures that your participation is continuously rewarded, making it an attractive option for
            those looking to maximize their involvement in the ecosystem.</p>
        <div class="align-items-center d-none d-sm-flex flex-grow-1 justify-content-center logo">
            <img alt="APOW logo" height=128 src=images/svg/apow.svg width=128>
        </div>
    </div>
    <div class=rhs>
        <img alt="Claim APOW" src="{{DESKTOP_PPTS}}" height=1444 width=1018>
    </div>
</div>
<hr>
<div class=two-card>
    <div class="d-flex flex-column lhs">
        <h1>Swap XPower & APower Tokens</h1>
        <p>You have the ability to seamlessly swap your XPower <strong>XPOW</strong> and APower <strong>APOW</strong>
            tokens on a decentralized exchange, offering flexibility and convenience in managing your assets.</p>
        <p>Further, at <a href="https://www.xpowerbanq.com" target="_blank">xpowerbanq.com</a>, you are be able to
            leverage your <strong>APOW</strong> as collateral to borrow <strong>XPOW</strong> or vice versa.</p>
        <p class="align-items-center d-none d-sm-flex flex-grow-1 justify-content-center emoji">🏛️</p>
    </div>
    <div class=rhs>
        <img alt="Swap XPOW & APOW" src="{{DESKTOP_SWAP}}" height=1444 width=1018>
    </div>
</div>
<style>
    .two-card a {
        color: var(--xp-powered);
    }

    .two-card a:hover {
        color: var(--xp-accentuated);
        opacity: 100%;
    }
</style>