extends ../spa/spa.pug

block content
  content
    h1: | {{DESCRIPTION}} <img alt="Avalanche" height="24" src="/images/png/avalanche-icon/avalanche-64x64.png" width="24" />
    include ../connector/connector.pug
    include ../wallet/wallet.pug
    include ../selector/selector.pug
    include ../home/mining/mining.pug
    include ../home/minting/minting.pug
