div#cover {
    border: 1px solid var(--xp-powered);
    border-radius: 4px;
    margin-bottom: 0.5em;
    user-select: none;
}
div#cover {
    .cover-layer {
        grid-column: 1;
        grid-row: 1;
    }
    display: grid;
}
