div#cover {
    border: 1px solid var(--xp-powered);
    border-radius: 4px;
    margin-bottom: 0.5em;
}
div#cover > img {
    border-radius: inherit;
    height: auto;
    width: 100%;
}
div#cover > img.pulsate {
    animation: 3s linear infinite pulsate;
}
@keyframes pulsate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}
