footer.mt-auto.pb-3(
    class="{{FOOTER_CLASS}}"
)
    nav.navbar.px-2.py-0
        ul.navbar-nav
            li.nav-item
                a.nav-link.lower.company
                    span: | &copy;
                    span
                        = ' ' + new Date().getFullYear()
                    span.d-none.d-sm-inline
                        = ' ' + 'Moorhead LLC'

        ul.navbar-nav.d-flex.flex-row.ml-auto
            li.nav-item.pb-1.pt-1.pe-0
                a.nav-link.lower.migrate
                    i.bi.bi-capslock-fill
                    i.bi.bi-capslock
            li.nav-item.pb-1.pt-1.pe-0
                include ./footer-safe-wallet.pug
            li.nav-item.pb-1.pt-1.pe-1
                a.nav-link.lower.smart-contract
                    i.bi.bi-cpu-fill
                    i.bi.bi-cpu
            li.nav-item.pb-1.pt-1.pe-1
                a.nav-link.lower.add-token
                    i.bi.bi-plus-square-fill
                    i.bi.bi-plus-square
            li.nav-item.pb-1.pt-1.pe-1
                a.nav-link.lower.github
                    i.bi.bi-github
            li.nav-item.pb-1.pt-1.pe-1
                include ./footer-coingecko.pug
            li.nav-item.pb-1.pt-1.pe-1
                include ./footer-youtube.pug
            li.nav-item.pb-1.pt-1.pe-1
                include ./footer-discord.pug
            li.nav-item.pb-1.pt-1.pe-1
                include ./footer-telegram.pug
            li.nav-item.pb-1.pt-1.pe-1
                include ./footer-twitter.pug
            li.nav-item.pb-1.pt-1.pe-1
                include ./footer-whitepaper.pug
            li.nav-item.ps-1.d-none.d-sm-block
                include ./footer-avalanche.pug
