footer {
    nav {
        border-top: 1px solid var(--xp-powered);
        border-bottom: 1px solid var(--xp-powered);
    }
    a.nav-link {
        i.bi, svg {
            color: var(--xp-powered);
        }
        color: var(--xp-powered);
    }
    a.nav-link.lower {
        position: relative;
        top: 1px;
    }
    a.nav-link:hover {
        color: white;
    }
    a.add-token {
        i.bi-plus-square {
            display: none;
        }
    }
    a.add-token:hover {
        i.bi-plus-square-fill {
            display: none;
        }
        i.bi-plus-square {
            display: block;
        }
    }
    a.avalanche {
        img.red {
            display: none;
        }
    }
    a.avalanche:hover {
        img.fff {
            display: none;
        }
        img.red {
            display: inline-block;
        }
    }
    a.discord {
        svg:hover {
            background-color: #5865f2;
            border-radius: 2px;
            color: white;
            padding: 2px;
        }
        svg {
            position: relative;
            top: -1px;
        }
    }
    a.github {
        i.bi:hover {
            color: white;
        }
    }
    a.migrate {
        i.bi-capslock {
            display: none;
        }
    }
    a.migrate:hover {
        i.bi-capslock-fill {
            display: none;
        }
        i.bi-capslock {
            display: block;
        }
    }
    a.smart-contract {
        i.bi-cpu {
            display: none;
        }
    }
    a.smart-contract:hover {
        i.bi-cpu-fill {
            display: none;
        }
        i.bi-cpu {
            display: block;
        }
    }
    a.telegram {
        svg:hover {
            background-color: white;
            border-radius: 8px;
            color: #0088cc;
        }
    }
    a.twitter {
        svg:hover {
            color: #55acee;
        }
    }
    a.youtube {
        svg.red {
            display: none;
        }
    }
    a.youtube:hover {
        svg.fff {
            display: none;
        }
        svg.red {
            display: inline-block;
        }
    }
    color: var(--xp-powered);
    user-select: none;
}
footer {
    @keyframes fadeOut {
        0% { opacity: 100%; }
        66% { opacity: 100%; }
        100% { opacity: 4%; }
    }
    nav.underlay {
        animation: fadeOut 1s;
        opacity: 4%;
    }
    @keyframes fadeIn {
        0% { opacity: 0%; }
        66% { opacity: 0%; }
        100% { opacity: 100%; }
    }
    nav.overlay {
        animation: fadeIn 1s;
        opacity: 100%;
    }
    nav.overlay {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    nav {
        height: 48px;
    }
    a.consent {
        color: var(--xp-powered);
    }
    position: relative;
}
