extends ../index

block styles
  include ../theme/theme.pug

block header
  include ../header/header.pug

block content
  h1=`{{message}} ({{status}})`

  table.buggy
    td.text-center
      i.bi.bi-bug-fill

  if error && error.stack
    pre.error-stack #{error.stack}

block footer
  include ../footer/footer.pug
