button.qr-code.form-control.input-group-text(
  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"
  data-bs-title="<img class='px-1 py-2' src=''>"
  role="button" title="QR code"
)
  i(class="bi bi-qr-code")
