form#selector {
  margin-bottom: 0.5em;
  margin-top: 1em;
}
form#selector {
  div.selectors {
    a.active,
    a:hover {
      background-color: var(--xp-powered);
      color: var(--xp-dimgray);
    }
    a:not(:last-of-type) {
      border-right: none;
    }
    a.pseudo-disabled {
      pointer-events: none;
    }
    a {
      span.spinner {
        height: 1em;
        width: 1em;
      }
      span.spinner {
        margin: 0 0.25em;
      }
      @media (min-width: 576px) {
        span.spinner {
          margin: 0.25em;
        }
      }
      border: 1px solid var(--xp-powered);
      color: var(--xp-powered);
    }
    width: 100%;
  }
}
form#selector {
  div.selectors {
    a:not(.active):not(:hover) {
      img.thor {
        filter: invert(90%) sepia(94%) saturate(2464%) hue-rotate(357deg) brightness(106%) contrast(101%);
      }
      img.loki {
        filter: invert(52%) sepia(64%) saturate(2114%) hue-rotate(82deg) brightness(116%) contrast(125%);
      }
      img.odin {
        filter: invert(88%) sepia(53%) saturate(3730%) hue-rotate(104deg) brightness(106%) contrast(105%);
      }
    }
    a {
      img {
        max-height: 24px;
        max-width: 24px;
      }
    }
  }
}
