header
    nav#menu.nav.nav-pills.nav-justified.mb-3
        a.btn.btn-outline-warning.flex-sm-fill.text-sm-center.nav-link.home(
            class="{{HEADER_HOME}}" href="/home?token={{TOKEN}}"
        )
            i.bi-lightning-charge-fill.float-sm-start
            span.d-none.d-sm-inline.text: | XPower
        a.btn.btn-outline-warning.flex-sm-fill.text-sm-center.nav-link.nfts(
            class="{{HEADER_NFTS}}" href="/nfts?token={{TOKEN}}"
        )
            i.bi-image-fill.float-sm-start
            span.d-none.d-sm-inline.text: | NFTs
        a.btn.btn-outline-warning.flex-sm-fill.text-sm-center.nav-link.staking(
            class="{{HEADER_STAKING}}" href="/staking?token={{TOKEN}}"
        )
            i.bi-cash-stack.float-sm-start
            span.d-none.d-sm-inline.text: | Staking
        a.btn.btn-outline-warning.flex-sm-fill.text-sm-center.nav-link.about(
            class="{{HEADER_ABOUT}}" href="/about?token={{TOKEN}}"
        )
            i.bi-lightbulb-fill.float-sm-start
            span.d-none.d-sm-inline.text: | About
