@import "../theme/theme.scss";

header {
    nav#menu {
        a:not(:first-of-type):not(:last-of-type) {
            border-radius: 0;
        }
        a:first-of-type {
            border-start-end-radius: 0;
            border-end-end-radius: 0;
        }
        a:last-of-type {
            border-start-start-radius: 0;
            border-end-start-radius: 0;
        }
        a:not(:last-of-type) {
            border-right: none;
        }
        a.active, a:hover {
            background-color: var(--xp-powered);
            color: var(--xp-dimgray);
        }
        a {
            border: 1px solid var(--xp-powered);
            color: var(--xp-powered);
        }
    }
}
header {
    nav#menu {
        a:not(.active):not(:hover) {
            img.thor {
                filter: invert(90%) sepia(94%) saturate(2464%) hue-rotate(357deg) brightness(106%) contrast(101%);
            }
            img.loki {
                filter: invert(52%) sepia(64%) saturate(2114%) hue-rotate(82deg) brightness(116%) contrast(125%);
            }
            img.odin {
                filter: invert(88%) sepia(53%) saturate(3730%) hue-rotate(104deg) brightness(106%) contrast(105%);
            }
        }
        a {
            img {
                max-height: 24px;
                max-width: 24px;
            }
        }
    }
}
