div#minting {
  div.btn-group.mint:nth-of-type(5) {
    display: block;
  }
  div.btn-group.mint {
    display: none;
  }
  div.btn-group.mint {
    button.minter {
      span.spinner {
        margin-top: 0.25em;
      }
      span.spinner {
        height: 1em;
        width: 1em;
      }
      border-right: none;
      width: calc(100% - 150px);
    }
    button.nn-counter {
      border-radius: 0;
      border-right: none;
      cursor: default;
      width: 53.75px;
    }
    button.tx-counter {
      border-radius: 0;
      border-right: none;
      cursor: default;
      width: 53.75px;
    }
    button.forget {
      border-radius: 0 4px 4px 0;
      width: 42.5px;
    }
    margin-bottom: 1em;
    width: 100%;
  }
  margin-bottom: 0;
}
