form#minting {
  div.btn-group.mint {
    display: none;
  }
  div.btn-group.mint {
    button.minter {
      width: calc(100% - 147px);
    }
    button.counters {
      span.badge {
        background-color: var(--xp-powered);
        border: 1px solid var(--xp-dimgray);
        color: var(--xp-dimgray);
        margin: 2px 1px 0 1px;
      }
      span.badge.nn-counter {
        float: right;
        right: 50%;
      }
      span.badge.tx-counter {
        float: left;
        left: 50%;
      }
      cursor: default;
      width: 105px;
    }
    button.forget {
      width: 42px;
    }
    margin-bottom: 1em;
    width: 100%;
  }
  margin-bottom: 0;
}
