div#ppt-batch-minting {
  .ppt-batch-minter {
    #toggle-all {
      border-radius: 1px 0 0 1px;
      min-width: 38px !important;
      width: 38px !important;
    }
    #ppt-batch-burner,
    #ppt-batch-minter {
      border-right: 1px solid;
    }
    #ppt-batch-claimer {
      border-left: 1px solid;
    }
    .info {
      border-radius: 0 1px 1px 0;
      width: 38px !important;
    }
    border: 3px double;
  }
}
div#ppt-batch-minting {
  .ppt-batch-minter {
    #toggle-all {
      min-width: 42.5px;
      width: 42.5px;
    }
    #toggle-all > i {
      position: relative;
      top: 1px;
    }
    #ppt-burn-approval {
      span.spinner {
        margin-top: 0.25em;
      }
      span.spinner {
        height: 1em;
        width: 1em;
      }
      width: calc(100% - 83px);
    }
    #ppt-batch-minter {
      span.spinner {
        margin-top: 0.25em;
      }
      span.spinner {
        height: 1em;
        width: 1em;
      }
      width: calc(50% - 42.5px);
    }
    #ppt-batch-minter {
      display: none;
    }
    #ppt-batch-minter.show {
      display: inline-block
    }
    #ppt-batch-burner {
      span.spinner {
        margin-top: 0.25em;
      }
      span.spinner {
        height: 1em;
        width: 1em;
      }
      width: calc(50% - 42.5px);
    }
    #ppt-batch-burner {
      display: none;
    }
    #ppt-batch-burner.show {
      display: inline-block
    }
    #ppt-batch-claimer {
      span.spinner {
        margin-top: 0.25em;
      }
      span.spinner {
        height: 1em;
        width: 1em;
      }
      width: calc(50% - 42.5px);
    }
    #ppt-batch-claimer {
      display: none;
    }
    #ppt-batch-claimer.show {
      display: inline-block
    }
    margin-bottom: 1em;
    width: 100%;
  }
  width: 100%;
}
