extends ../spa/spa.pug

block content
  content
    form#about
      div#md-content.d-none
        include:md_render ../../public/content/about.md
      span.spinner.spinner-border.spinner-border-sm(
        role="status"
      )
