form#about {
    span.spinner {
        height: 2rem;
        left: calc(50% - 1rem);
        position: absolute;
        top: calc(50% - 1rem);
        width: 2rem;
    }
    a.active, a:hover {
        color: var(--xp-powered-i);
    }
    margin-top: 0;
}
