form.claim-any
  div.btn-group.claim-any(role="group" class="{{xtoken}}")
    button.claim-any.btn.btn-outline-warning(
      data-source="{{VERSION_SRC}}" data-target="{{VERSION_TGT}}"
      type="button" class="{{xtoken}}" disabled
    )
      | Claim Rewards
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Claim the old {{aTOKEN}} rewards; fails if the old treasury is empty!"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
