extends ../index

block styles
  include ../theme/theme.pug

block globals
  include ../global/contracts.pug
  include ../global/urls.pug

block header
  include ../header/header.pug

block content
  content
    h1: | {{DESCRIPTION}}!{' '}
      img(height=24 width=24 src="images/svg/xpower-dark.svg")

    include ../connector/connector.pug
    include ./version-select.pug

    h2#claiming-of-rewards
      | Claiming of Rewards&nbsp;<a class="header-anchor" href="#claiming-of-rewards">¶</a>
    include ./any-claim.pug

    h2#migration-of-moe-tokens
      | Migration of {{xTOKEN}}s&nbsp;<a class="header-anchor" href="#migration-of-moe-tokens">¶</a>
    include ./moe-migrate.pug
    include ./moe-integrate.pug

    h2#migration-of-sov-tokens
      | Migration of {{aTOKEN}}s&nbsp;<a class="header-anchor" href="#migration-of-sov-tokens">¶</a>
    include ./sov-migrate.pug
    include ./sov-integrate.pug

    h2#migration-of-nfts
      | Migration of NFTs&nbsp;<a class="header-anchor" href="#migration-of-nfts">¶</a>
    include ./nft-migrate.pug

    h2#burning-of-nfts
      | Burning of Empty NFTs&nbsp;<a class="header-anchor" href="#burning-of-nfts">¶</a>
    include ./nft-burn.pug

block footer
  include ../footer/footer.pug
