extends ../index

block styles
  include ../theme/theme.pug

block globals
  include ../global/contracts.pug

block header
  include ../header/header.pug

block content
  content
    h1: | {{DESCRIPTION}}
    include ../connector/connector.pug

  include ./moe-migrate.pug
  include ./moe-integrate.pug
  include ./nft-migrate.pug

block footer
  include ../footer/footer.pug
