extends ../index

block styles
  include ../theme/theme.pug

block globals
  include ../global/contracts.pug

block header
  include ../header/header.pug

block content
  content
    h1: | {{DESCRIPTION}}!{' '}
      include ../../public/images/pug/avalanche-24.svg.pug
    include ../connector/connector.pug

    h2#claiming-of-tokens
      | Claiming of Tokens <a class="header-anchor" href="#claiming-of-tokens">¶</a>
    include ./moe-claim.pug

    h2#migration-of-tokens
      | Migration of Tokens <a class="header-anchor" href="#migration-of-tokens">¶</a>
    include ./moe-migrate.pug

    h2#integration-of-tokens
      | Integration of Tokens <a class="header-anchor" href="#integration-of-tokens">¶</a>
    include ./moe-integrate.pug
    include ./sov-integrate.pug

    h2#migration-of-nfts
      | Migration of NFTs <a class="header-anchor" href="#migration-of-nfts">¶</a>
    include ./nft-migrate.pug

    h2#burn-of-nfts
      | Burning of NFTs [optional] <a class="header-anchor" href="#burn-of-nfts">¶</a>
    include ./nft-burn.pug

block footer
  include ../footer/footer.pug
