@import "../index.scss";
@import "../header/header.scss";
@import "../footer/footer.scss";
@import "../connector/connector.scss";

form#migration {
  margin-top: 1em;
  margin-bottom: 1em;
}
form#minter {
  div.minter-address {
    input#minter-address {
      text-align: center;
    }
    .info > svg {
      position: relative;
      top: 0.5px;
    }
    .info {
      cursor: help;
    }
    width: 100%;
  }
}
form#allowance {
  div.approve-allowance {
    button#approve-allowance {
      width: calc(100% - 42px);
      text-align: center;
    }
    .info > svg {
      position: relative;
      top: -1px;
    }
    .info {
      cursor: help;
    }
    width: 100%;
  }
}
form#migration {
  div.execute-migration {
    button#execute-migration {
      text-align: center;
      width: calc(100% - 42px);
    }
    .info > svg {
      position: relative;
      top: -1px;
    }
    .info {
      cursor: help;
    }
    width: 100%;
  }
}
form#integration {
  div.add-xpow-cpu,
  div.add-xpow-gpu,
  div.add-xpow-asic {
    button {
      margin-bottom: 0.5em;
    }
    button#add-xpow-cpu,
    button#add-xpow-gpu,
    button#add-xpow-asic {
      img {
        margin-top: 2px;
      }
      text-align: center;
      width: calc(100% - 42px);
    }
    .info > svg {
      position: relative;
      top: -1px;
    }
    .info {
      cursor: help;
    }
    width: 100%;
  }
}
