form#moe-integrate {
  div.add-moe {
    button.add-moe {
      img {
        position: absolute;
        right: 8px;
        top: 6px;
      }
      img {
        background-color: var(--xp-gray-dark);
        border: 2px solid var(--xp-lime);
        border-radius: 10px;
        margin-top: 2px;
      }
      text-align: center;
      width: calc(100% - 42px);
    }
    .info > svg {
      position: relative;
      top: -1px;
    }
    margin-bottom: 0.5em;
    width: 100%;
  }
}
