form.moe-migrate {
  div.moe-migrate {
    button.approve-moe-allowance {
      text-align: center;
      width: calc(50% - 21px);
    }
    button.moe-migrate {
      text-align: center;
      width: calc(50% - 21px);
    }
    .info > svg {
      position: relative;
      top: -1px;
    }
    margin-bottom: 0.5em;
    width: 100%;
  }
}
