form.burn-nft
  div.btn-group.burn-empty-nft(role="group" class="{{xtoken}}")
    button.burn-empty-nft.btn.btn-outline-warning(
      data-source="{{VERSION_SRC}}" data-target="{{VERSION_TGT}}"
      type="button" class="{{xtoken}}" disabled
    )
      | Burn Empty NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute burn of empty {{xTOKEN}} NFTs (i.e. amount=0)"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
