form.unstake-old {
  div.unstake-old {
    button.unstake-old {
      text-align: center;
      width: calc(100% - 42px);
    }
    .info > svg {
      position: relative;
      top: -1px;
    }
    margin-bottom: 0.5em;
    width: 100%;
  }
}
form.migrate-old {
  div.migrate-old {
    button.approve-old {
      text-align: center;
      width: calc(50% - 21px);
    }
    button.migrate-old {
      width: calc(50% - 21px);
      text-align: center;
    }
    .info > svg {
      position: relative;
      top: -1px;
    }
    margin-bottom: 0.5em;
    width: 100%;
  }
}
form.restake-new {
  div.restake-new {
    button.approve-new {
      text-align: center;
      width: calc(50% - 21px);
    }
    button.restake-new {
      width: calc(50% - 21px);
      text-align: center;
    }
    .info > svg {
      position: relative;
      top: -1px;
    }
    margin-bottom: 0.5em;
    width: 100%;
  }
}
form.restake-new {
  display: none;
}