form#sov-integration {
  div.add-sov.thor,
  div.add-sov.loki,
  div.add-sov.odin {
    button.add-sov.thor,
    button.add-sov.loki,
    button.add-sov.odin {
      img {
        background-color: var(--xp-dimgray);
        border-radius: 10px;
        margin-top: 2px;
        padding: 2px;
      }
      text-align: center;
      width: calc(100% - 42px);
    }
    .info > svg {
      position: relative;
      top: -1px;
    }
    margin-bottom: 0.5em;
    width: 100%;
  }
}
