form#sov-integrate
  div.btn-group.add-sov(role="group" class="{{atoken}}")
    button.add-sov.btn.btn-outline-warning(
      type="button" class="{{atoken}}" data-target="{{VERSION_TGT}}"
    )
      | <span>Add Token to Wallet</span><img height=20 width=20 src="{{{{aTOKEN}}_SOV_IMAGE}}">
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Add the new {{aTOKEN}} token to your wallet"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
