form.sov-migrate {
  div.sov-migrate {
    button.approve-sov-allowance {
      text-align: center;
      width: calc(50% - 21px);
    }
    button.sov-migrate {
      text-align: center;
      width: calc(50% - 21px);
    }
    .info > svg {
      position: relative;
      top: -1px;
    }
    margin-bottom: 0.5em;
    width: 100%;
  }
}
