label.mb-2(for="version-select")
    | Version to migrate from
div.btn-group#version-select-wrap(role="group")
    select.form-select#version-select(disabled)
        option(value="01a" style="display:none")
            | 01a: {{xTOKEN}}=0, {{aTOKEN}}=0 &amp; NFTs=0
        option(value="02a" style="display:none")
            | 02a: {{xTOKEN}}=0, {{aTOKEN}}=0 &amp; NFTs=0
        option(value="02b" style="display:none")
            | 02b: {{xTOKEN}}=0, {{aTOKEN}}=0 &amp; NFTs=0
        option(value="02c" style="display:none")
            | 02c: {{xTOKEN}}=0, {{aTOKEN}}=0 &amp; NFTs=0
        option(value="03a" style="display:none")
            | 03a: {{xTOKEN}}=0, {{aTOKEN}}=0 &amp; NFTs=0
        option(value="03b" style="display:none")
            | 03b: {{xTOKEN}}=0, {{aTOKEN}}=0 &amp; NFTs=0
        option(value="04a" style="display:none")
            | 04a: {{xTOKEN}}=0, {{aTOKEN}}=0 &amp; NFTs=0
        option(value="05a" style="display:none")
            | 05a: {{xTOKEN}}=0, {{aTOKEN}}=0 &amp; NFTs=0
        option(value="05b" style="display:none")
            | 05b: {{xTOKEN}}=0, {{aTOKEN}}=0 &amp; NFTs=0
        option(value="05c" style="display:none")
            | 05c: {{xTOKEN}}=0, {{aTOKEN}}=0 &amp; NFTs=0
        option(value="06a" style="display:none")
            | 06a: {{xTOKEN}}=0, {{aTOKEN}}=0 &amp; NFTs=0
        option(value="06b" style="display:none")
            | 06b: {{xTOKEN}}=0, {{aTOKEN}}=0 &amp; NFTs=0
        option(value="06c" style="display:none")
            | 06c: {{xTOKEN}}=0, {{aTOKEN}}=0 &amp; NFTs=0
        option(value="07a" style="display:none")
            | 07a: {{xTOKEN}}=0, {{aTOKEN}}=0 &amp; NFTs=0
        option(value="07b" style="display:none")
            | 07b: {{xTOKEN}}=0, {{aTOKEN}}=0 &amp; NFTs=0
        option(value="07c" style="display:none")
            | 07c: {{xTOKEN}}=0, {{aTOKEN}}=0 &amp; NFTs=0
        option(value="08a" style="display:none")
            | 08a: {{xTOKEN}}=0, {{aTOKEN}}=0 &amp; NFTs=0
        option(value="08b" style="display:none")
            | 08b: {{xTOKEN}}=0, {{aTOKEN}}=0 &amp; NFTs=0
        option(value="08c" style="display:none")
            | 08c: {{xTOKEN}}=0, {{aTOKEN}}=0 &amp; NFTs=0
        option(value="09a" style="display:none")
            | 09a: {{xTOKEN}}=0, {{aTOKEN}}=0 &amp; NFTs=0
        option(value="09b" style="display:none")
            | 09b: {{xTOKEN}}=0, {{aTOKEN}}=0 &amp; NFTs=0
        option(value="09c" style="display:none")
            | 09c: {{xTOKEN}}=0, {{aTOKEN}}=0 &amp; NFTs=0
        option(value="000" selected)
            | &middot;&middot;&middot;
    button.btn.btn-outline-warning.info.loading(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Select a version with non-zero {{xTOKEN}}, {{aTOKEN}} or NFT balances to migrate from"
    )
      span.spinner.spinner-border.spinner-border-sm(
        role="status"
      )
      include ../../public/images/pug/info-circle-fill.svg.pug
