div#version-select-wrap {
    select#version-select:hover:not([disabled]) {
        cursor: pointer;
    }
    select#version-select {
        border-radius: 3px 0 0 3px;
        font-size: smaller;
        height: 38px;
        text-align: center;
        width: calc(100% - 42px);
    }
    .info:not(.loading) {
        .spinner {
            display: none;
        }
    }
    .info.loading {
        .bi-info-circle-fill {
            display: none;
        }
    }
    margin-bottom: 0.5em;
    width: 100%;
}
