extends ../spa/spa.pug

block content
  content
    h1: | {{DESCRIPTION}}
    include ../connector/connector.pug
    include ../cover/cover.pug
    include ../wallet/wallet.pug
    include ./mining/mining.pug
    include ./minting/minting.pug
